.floating-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    cursor: pointer;
    transition-duration: .35s;
}
.floating-button:hover {
    color: rgba(0, 0, 0, 0.404);
    -webkit-transfrom: scale(0.9);
    transform: scale(0.9);
}
.round {
    border-radius: 10px 10px;
}
.brb {
    background-color: black;
    border-radius: 10px 10px;
    color:white;
}
.brb:hover {
    background-color: rgba(128, 128, 128, 0.466);
    color: white;
}
.btb {
    font-size: 20px;
    padding: 30px;
    font-weight: bold;
}
.head {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 0px;
    margin-top: 0px;
}
.menu {
    display:flex;
    justify-content:row-reverse;
}
.site-headline {
    font-size: 50px;
}
.content {
    display:grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px 200px;
}
.content-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
}
.home-content {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-content:start;
}
.p-strip {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    background-color: transparent;
}
.p-strip--light {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #f7f7f7;
}